<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background.jpg</key>
			<dict>
				<key>width</key>
				<integer>1099</integer>
				<key>height</key>
				<integer>648</integer>
				<key>originalWidth</key>
				<integer>1099</integer>
				<key>originalHeight</key>
				<integer>648</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>choose mode.png</key>
			<dict>
				<key>width</key>
				<integer>1266</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>1344</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>button.jpg</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1268</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1 vs 1.png</key>
			<dict>
				<key>width</key>
				<integer>410</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>424</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1395</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>2 vs 2.png</key>
			<dict>
				<key>width</key>
				<integer>833</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>882</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>755</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>1 vs 1 vs 1.png</key>
			<dict>
				<key>width</key>
				<integer>740</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>760</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>835</integer>
				<key>y</key>
				<integer>755</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Fight0.png</string>
			<key>realTextureFileName</key>
			<string>Fight0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>