<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background.jpg</key>
			<dict>
				<key>width</key>
				<integer>1099</integer>
				<key>height</key>
				<integer>648</integer>
				<key>originalWidth</key>
				<integer>1099</integer>
				<key>originalHeight</key>
				<integer>648</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button.jpg</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>next.png</key>
			<dict>
				<key>width</key>
				<integer>602</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>632</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>1228</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>InputNmae.png</key>
			<dict>
				<key>width</key>
				<integer>1322</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>1382</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>com.jpg</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>1324</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>landin0.png</string>
			<key>realTextureFileName</key>
			<string>landin0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>