<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Stope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{334,238}</string>
                <key>spriteSourceSize</key>
                <string>{350,280}</string>
                <key>textureRect</key>
                <string>{{1,668},{334,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WarFactory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,56}</string>
                <key>spriteSize</key>
                <string>{363,291}</string>
                <key>spriteSourceSize</key>
                <string>{449,443}</string>
                <key>textureRect</key>
                <string>{{1,1},{363,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barracks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{290,196}</string>
                <key>spriteSourceSize</key>
                <string>{350,280}</string>
                <key>textureRect</key>
                <string>{{258,294},{290,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{282,210}</string>
                <key>spriteSourceSize</key>
                <string>{350,280}</string>
                <key>textureRect</key>
                <string>{{241,668},{282,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>producer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,60}</string>
                <key>spriteSize</key>
                <string>{372,255}</string>
                <key>spriteSourceSize</key>
                <string>{486,375}</string>
                <key>textureRect</key>
                <string>{{1,294},{372,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Warrior.png</string>
            <key>size</key>
            <string>{455,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb1b9f12351e5c98df16114fb3d5b18a:5c7eabc14ccf4744a7978e1f729f51c5:643a8d5b8f8b8b741e33bbe8244f0ab7$</string>
            <key>textureFileName</key>
            <string>Warrior.png</string>
        </dict>
    </dict>
</plist>
